* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  /* Style the header */
  header {
    background-color: #00c8c5;
    text-align: center;
    font-size: 35px;
  }
  nav {
    float: left;
    width: 100%;
    background: #ccc;
  }
  
  /* Style the list inside the menu */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #279800;
  }
  
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  
  
  li a:hover {
    background-color: #00efeb;
    color: black;
  }
  
  article {
    float: left;
    width: 100%;
    background-color: #00c8c5;
   }
  
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #00c8c5;
    text-align: center;
    font-size: 30px;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  
  table tr {
    text-align: left;
  }
  
  
  table tr {
    text-align: left;
  }
  table{
    background-color: green;
    max-width: 100%;
    height: auto;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  @media only screen and (min-height: 755px) {
    iframe {height: 510px;}
  }
  @media only screen and (max-height: 754px) {
    iframe {height: 360px;}
  }
  @media only screen and (min-height: 1000px) {
    iframe {height: 700px;}
  }
  @media only screen and (min-height: 1200px) {
    iframe {height: 900px;}
  }
  @media only screen and (min-height: 2000px) {
    iframe {height: 1600px;}
  }
  .flex-container {
    display: flex;
    background-color: #00c8c5;
    justify-content: center;
    height: auto;
    width: auto;
  }
  
  .flex-container > div {
    background-color: #00efeb;
    margin: 10px;
    font-size: 20px;
    height: auto;
    width: auto;
  }
